* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Text Color, Hover color and Background Color */
  --primary-color: #111111;
  --secondary-color: rgba(40, 68, 68, 0.733);
  --text-color: #333;
  --second-logo-color: rgba(40, 68, 68, 0.623);
  --another-text-color: #f4f4f4;
  --button-hover-color: #130303a1;
  --button-hover-secondary-color: #130202a6;
  --background-color: #fff;
  --filter-bg-color: #c2d3d3;
  --header-bg-color: #1a1616;
  --nav-bottom-border-color: #ccc;

  /* Typography */
  --font-family: "Poppins", sans-serif;
}

html,
body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  width: 100%;
}


